<div id="page" class="row">
  
  <div class="span12 details">
  		<header class="header-service">
   		<h1 class="p25">the services we offer:</h1>
   		</header>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'foot-detox.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Foot Spa Detox</h2>
	   			<p>A relaxing therapeutic foot spa with exceptional benefits. This is most commonly done in conjunction with a Compass Scan and Health Assessment and can generally be completed within one and a half hours. Foot Spa alone takes one hour.</p>
	   			<p>I use the B.E.S.T. Energy Ionic Foot Bath, the highest performing ionic foot spa available, which utilizes aircraft quality grade parts to boost bodily energy, allowing the body to reach its full potential. Positive and negative energy fields are transferred into the water and the body absorbs that energy, providing pure, clean energy, identical to the human body's needs which may be used by the body to detox and cleanse. This process occurs on three levels: through the colon, urinary system and skin, respectively. The energy received by the body from this machine may result in boosting live blood cell levels and may decrease symptoms of health challenges.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'compass-scan.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Compass Scan</h2>
	   			<p>Normally, taking just 15 minutes, this device provides a personalized synopsis of what is happening at a cellular level within your body at that very moment.</p>
	   			<p>During this assessment, you lay your hand on a cradle which measures 75 different bio markers in the body and fluctuations in the energy patterns of the skin. In a process called a bio-survey, the ZYTO software sends stimuli to the body using digital signatures representative of various nutritional supplements. Each stimulus creates a response indicating a biological preference for the item assessed. Knowing biological preferences helps individuals to make better choices in their supplements.</p>
	   		</div>
	   	</div>
   		</section>
    	<section class="service">
    	<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'wellzymes.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Wellzymes Food Allergen Sample Set</h2>
	   			<p>The BioSet system was developed through years of observation in clinical practice and ongoing evaluation of a wide range of allergy therapies. It is considered an effective technique for dealing with allergies of any kind and may be beneficial for neutralizing the body's allergic response. I use the Wellzymes viles, which you hold in your hand, as one part of your wellness plan. It takes about 30 minutes and is generally done in conjunction with the SOQI Bed Session, allowing you to rest peacefully on the SOQI bed for 15 - 30 minutes.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'soqibed.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>SOQI Bed Sessions with Chi Machine</h2>
	   			<p>The Chi Machine has more benefits then I can list in this area. Likewise, the SOQI bed experience cannot be described adequately. It is a peaceful, serene, experience that will help to bring balance to the body, mind and the spirit. Through Far Infrared heat, and the gentle massage of the Chi Machine, you bring balance to the autonomic nervous system.</p> 
	   			<p>In a nutshell, you will feel like you've been to heaven, releasing all your stress and enjoying perfect calm, while enjoying music which lulls you to sleep. A Class One Medical Device, making you feel like you're getting a First Class Spa Treatment. Ahhhh.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'ere.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>ERE</h2>
	   			<p>The Electro Reflex Energizer is another Class One Medical Device allowing you to place your feet on warming pads which have four pattern modes or frequencies that relate to pounding, relaxing and massage. It is multi faceted in the modalities and the number of ailments it can impact.</p> 
	   			<p>Each new client will start out on the pound mode which may help to break up pockets of toxins, clusters of parasites and radiation. Clients have experienced such benefits as regaining feeling in their feet, lung congestion breaking up, weight loss, parasites eradicated via the stool and plantar warts being reduced in size.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'epower.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>E Power</h2>
	   			<p>We are subjected to positive ions via our computers, cell phones, power towers, microwaves, and televisions just to mention a few, all of which have a negative impact on our overall health. The E Power has been designed to increase our negative potential with High Frequency Energy, increasing the electrical potential of every cell in the body. You will sit with a fabric belt around your waist, feet off the floor, peacefully resting in an over stuffed chair while receiving the benefits of one of Hsin Ten Enterprises most powerful Class One Medical Devices. See the Products page to view the machine and for more information. Sessions with the E Power last 15 minutes to three hours.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'consultation.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Consultations with Health Assessment Forms</h2>
	   			<p>A series of questions about your diet, lifestyle, symptoms and emotions helps us to identify weak body systems and to build a program that can bring balance to the weakened body systems. You will want to plan on a first time visit of at least two hours, which enables us to complete at least one assessment form and then to discuss your preferences in managing your health program. To make the most of your time, I encourage everyone who meets the health criteria to enjoy a foot spa detox while we visit.</p>
	   		</div>
	   	</div>
   		</section>
 		<section class="service">
 		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'pricing.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Pricing</h2>
	   			<p>Each of the different modalities offers the body different benefits. I like to encourage everyone to invest in a first time consultation of two to three hours. My pricing of $35 per hour - with a one hour minimum, is based on time rather than each modality. I see the greatest benefits for my clients at the lowest cost using this format. Many clients chose to purchase the Class One Medical Devices, finding that daily use made the greatest impact. I sell the HTE line at wholesale and when the company offers discounts on the wholesale price, I pass that savings along to you.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="service">
   		<div class="width-wrapper">
   			<div class="service-column1">
   				 {{ 'for-rent.png' | asset_url | img_tag }}
   				 {{ 'services-decoration.png' | asset_url | img_tag }}
	   		</div>
	   		<div class="service-column2">
	   			<h2>Equipment Rentals</h2>
	   			<p>The following equipment is available for weekly and monthly rental: Chi Machine, ERE, and the Boomerang Air Sanitizer.</p>
	   			<p>Cost:</br>
   				<ul>
   					<li>One week - $35</li>
   					<li>Two weeks - $60</li>
   					<li>Three weeks - $85</li>
   					<li>Four weeks - $100</li>
   				</ul>
   				<p>By the end of two to four weeks, most people will know how the equipment is affecting their well being and whether or not they are committed to using the equipment.</p>
	   		</div>
	   	</div>
   		</section>
   		<section class="cta-service">
  			<div class="width-wrapper">
			    <h2>ready to learn more?</h2>
			    {{ 'cta-decoration.png' | asset_url | img_tag }}
			    <p><a class="appointment" href="mailto:carlaroethlisberger@gmail.com?subject=I'd Like to Schedule an Appointment">Schedule an Appointment</a></p>
		  	</div>
		</section>
  </div>
  
</div>