<div id="product" class="{{ product.handle }} width-wrapper" itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
  <div class="row clearfix product-column1">
    <!-- Begin product photos -->
    <div class="span6" >
      <!-- Begin featured image -->
      <div class="image featured">
        <div class='thumb-display'>

          <!-- {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          {% if settings.enable_product_image_zoom %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
          {% else %}
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" />
          {% endif %} -->
        </div>
      </div>
      <!-- End product image -->
      
      {% if product.images.size > 1%}
      <!-- Begin thumbnails -->
      <div class="thumbs clearfix">
        <div>
          {% for image in product.images %}
          {% if settings.enable_product_image_zoom %}
          <div class="thumb-choice image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
            <!-- <a href="{{ image | product_img_url: '1024x1024' }}" class="cloud-zoom-gallery" data-image-id="{{ image.id }}"> -->
              <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
            <!-- </a> -->
          </div>
          {% else %}
          <div class="thumb-choice image span2{% cycle 'last-in-row': '', '', ' last-in-row' %}">
            <!-- <a href="{{ image | product_img_url: '1024x1024' }}" data-original-image="{{ image | product_img_url: '1024x1024' }}" data-image-id="{{ image.id }}"> -->
              <img src="{{ image | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}" />
            <!-- </a> -->
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <!-- End thumbnails -->
      <style>
      /*.thumbs .image { margin: 15px 0; }
      .thumbs .image { padding: 0 15px; }
      .thumbs .last-in-row { padding-right: 0; }*/
      </style>
      {% endif %}
    </div>
    </div>
    <!-- End product photos -->
    
    <!-- Begin description -->
    <div class="span6 product-column2">
     <p class="back"><a href="#">&larr; Back to All Products</a></p>
    <div>  
      <h1 class="title" itemprop="name">{{ product.title }}</h1>
       <span class="price">{{ product.price | money }}</span>
      
      <div class="purchase" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
        {% if product.available %}
        <link itemprop="availability" href="http://schema.org/InStock" />
        {% else %}
        <link itemprop="availability" href="http://schema.org/OutOfStock" />
        {% endif %}
		{% assign variant = product.selected_or_first_available_variant %}
        <h2 class="price" id="price-preview">
          <span itemprop="price">{{ variant.price_min | money }}</span>{% if variant.price_min < variant.compare_at_price_min %} <del>{{ variant.compare_at_price_min | money }}</del>{% endif %}
        </h2>
      </div>
      
      {% assign hide_default_title = false %}
      {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
        {% assign hide_default_title = true %}
      {% endif %}
            
      <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
        
        <!-- Begin product options -->
        <div class="product-options">

          <div class="select clearfix"{% if hide_default_title %} style="display:none"{% endif %}>
            <select id="product-select" name="id" style="display:none">
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          {% if settings.display_quantity_dropdown %}
          <div class="selector-wrapper">
            <label>Quantity</label>
            <input id="quantity" type="number" name="quantity" value="1" class="tc item-quantity" />
          </div>
          {% endif %}

        </div>
        <!-- End product options -->

      </form>

      <div class="description" itemprop="description">
        {{ product.description }}
      </div>

      <div class="purchase-section {% if product.variants.size > 1 %} multiple{% endif %}">
            <div class="purchase">
              {% unless product.available %}
              <p>Sold Out</p>
              {% else %}
              <!-- <input type="submit" id="add-to-cart" class="btn addtocart" name="add" value="Add to cart" /> -->
              <button type="submit" id="add-to-cart" class="btn addtocart" name="add" value="Add to cart">Add<span id="cart-animation" style="display:none">ed</span> To Cart </button>
              
              {% endunless %}
            </div>
          </div>

      <!-- Begin social buttons -->
      <div class="social">
        {% include 'like' %}
      </div>
      <!-- End social buttons -->
    </div>
    </div>
    <!-- End description -->

  </div>

  <!-- Begin related product -->
 <div class="width-wrapper related-products">
  {% if settings.show_related_products %}
    {% include 'related-products' %}
  {% endif %}
</div>
</div> 

<div style="display:none" id="preloading">
{% for image in product.images offset: 1 %}
{{ image | product_img_url: '1024x1024' | img_tag }}
{% endfor %}
</div>

<section class="cta-section">
  <div class="width-wrapper">
    <h3>need some help?</h3>
    {{ 'cta-decoration.png' | asset_url | img_tag }}
    <p><a class="go-shop" href="#">Contact Carla</a> <span class="or">or</span> <a class="services" href="#">View Articles</a></p>
  </div>
</section>

<script type="text/javascript">
    var thumbChoices = $('.thumb-choice');
    var thumbDisplay = $('.thumb-display');
    var image;

    for(var i=0, l=thumbChoices.length; i < l; i++) {
      $(thumbChoices[i]).on('click', function(evt){
        image = $(evt.currentTarget).find('img');
        thumbDisplay.html(image.clone());
      });
    }

    $(thumbChoices[0]).trigger('click');
</script>